@import url('https://fonts.googleapis.com/css?family=Alegreya|Brawler|Cinzel|Oregano|Oxygen|Risque');

body {
  background-color: rgb(193, 154, 232);
  font-family: 'Oxygen';
  margin: '0 auto';
}

.App {
  font-size: 40px;
}
